MinecubedTweaks.iml
.idea/.gitignore
.idea/checkstyle-idea.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/git_toolbox_prj.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/artifacts/MinecubedTweaks___project_version__jar.xml
.idea/checkstyleidea-libs/readme.txt
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/epidemic_1_6_7_3.xml
.idea/libraries/Maven__com_arcaniax_HeadDatabase_API_1_3_1.xml
.idea/libraries/Maven__com_github_Archy_X_AureliumSkills_Beta1_3_9.xml
.idea/libraries/Maven__com_github_LoneDev6_api_itemsadder_3_2_5.xml
.idea/libraries/Maven__com_gitlab_ruany_LiteBansAPI_0_3_5.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_9.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_7_1.xml
.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
.idea/libraries/Maven__com_google_guava_guava_31_0_1_jre.xml
.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__fr_xephi_authme_5_6_0_SNAPSHOT.xml
.idea/libraries/Maven__io_leangen_geantyref_geantyref_1_3_11.xml
.idea/libraries/Maven__io_lumine_Mythic_Dist_5_2_0.xml
.idea/libraries/Maven__io_papermc_paper_paper_api_1_19_2_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__io_papermc_paperlib_1_0_6.xml
.idea/libraries/Maven__it_unimi_dsi_fastutil_8_5_6.xml
.idea/libraries/Maven__net_essentialsx_1_8Provider_2_19_0.xml
.idea/libraries/Maven__net_essentialsx_BaseProviders_2_19_0.xml
.idea/libraries/Maven__net_essentialsx_EssentialsX_2_19_0.xml
.idea/libraries/Maven__net_essentialsx_NMSReflectionProvider_2_19_0.xml
.idea/libraries/Maven__net_essentialsx_PaperProvider_2_19_0.xml
.idea/libraries/Maven__net_kyori_adventure_api_4_11_0.xml
.idea/libraries/Maven__net_kyori_adventure_key_4_11_0.xml
.idea/libraries/Maven__net_kyori_adventure_text_logger_slf4j_4_11_0.xml
.idea/libraries/Maven__net_kyori_adventure_text_minimessage_4_11_0.xml
.idea/libraries/Maven__net_kyori_adventure_text_serializer_gson_4_11_0.xml
.idea/libraries/Maven__net_kyori_adventure_text_serializer_legacy_4_11_0.xml
.idea/libraries/Maven__net_kyori_adventure_text_serializer_plain_4_11_0.xml
.idea/libraries/Maven__net_kyori_examination_api_1_3_0.xml
.idea/libraries/Maven__net_kyori_examination_string_1_3_0.xml
.idea/libraries/Maven__net_md_5_bungeecord_chat_1_16_R0_4_deprecated_build_6.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_17_1.xml
.idea/libraries/Maven__org_bstats_bstats_bukkit_1_8.xml
.idea/libraries/Maven__org_checkerframework_checker_qual_3_21_0.xml
.idea/libraries/Maven__org_jetbrains_annotations_23_0_0.xml
.idea/libraries/Maven__org_ow2_asm_asm_9_2.xml
.idea/libraries/Maven__org_ow2_asm_asm_analysis_9_2.xml
.idea/libraries/Maven__org_ow2_asm_asm_commons_9_2.xml
.idea/libraries/Maven__org_ow2_asm_asm_tree_9_2.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_8_0_beta4.xml
.idea/libraries/Maven__org_spigotmc_spigot_api_1_17_1_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_spongepowered_configurate_core_4_1_2.xml
.idea/libraries/Maven__org_spongepowered_configurate_yaml_4_1_2.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_33.xml
.idea/libraries/RealisticSeasons_8_1_1.xml
.idea/libraries/Themis_0_14_4.xml
.paper-nms/mappings_1.19.2.tiny
out/artifacts/MinecubedTweaks.jar
target/classes/config.yml
target/classes/plugin.yml
target/classes/com/minecubedmc/Tweaks.class
target/classes/com/minecubedmc/commands/DyeCommand.class
target/classes/com/minecubedmc/commands/PlayerInfoCommand.class
target/classes/com/minecubedmc/features/AFKFoxHarvestBlock.class
target/classes/com/minecubedmc/features/AgeItems.class
target/classes/com/minecubedmc/features/BeeNoAngy.class
target/classes/com/minecubedmc/features/BlockAFKDispenserGrow.class
target/classes/com/minecubedmc/features/BlockBarrierPlacement.class
target/classes/com/minecubedmc/features/ChangeVanillaFoodLevels.class
target/classes/com/minecubedmc/features/ChangeVanillaFoodLevels$1.class
target/classes/com/minecubedmc/features/ChickenExtraFeathers.class
target/classes/com/minecubedmc/features/CopperBlockDecayAndWax.class
target/classes/com/minecubedmc/features/CustomBlockSilktouch.class
target/classes/com/minecubedmc/features/CustomCrops.class
target/classes/com/minecubedmc/features/DirtyWaterBottle.class
target/classes/com/minecubedmc/features/ExtraFruitDrops.class
target/classes/com/minecubedmc/features/ExtraFruitDrops$1.class
target/classes/com/minecubedmc/features/FallToOverworld.class
target/classes/com/minecubedmc/features/FillCauldronWithDirtyWater.class
target/classes/com/minecubedmc/features/FixIABottleBug.class
target/classes/com/minecubedmc/features/GiantCrops.class
target/classes/com/minecubedmc/features/LimitFallDamage.class
target/classes/com/minecubedmc/features/LimitFoodLevel.class
target/classes/com/minecubedmc/features/MilkBottleFromCow.class
target/classes/com/minecubedmc/features/MobDrops.class
target/classes/com/minecubedmc/features/MobDrops$1.class
target/classes/com/minecubedmc/features/NoTorchesInDeepDark.class
target/classes/com/minecubedmc/features/NoXPDrop.class
target/classes/com/minecubedmc/features/PlayerInfoNotify.class
target/classes/com/minecubedmc/features/TreeBarkStrip.class
target/classes/com/minecubedmc/features/WaterCauldronPurify.class
target/classes/com/minecubedmc/items/CustomItems.class
target/classes/com/minecubedmc/runanbles/FreezeInWinter.class
target/classes/com/minecubedmc/runanbles/GetSeason.class
target/classes/com/minecubedmc/runanbles/SyncWorldTimeEvent.class
target/classes/com/minecubedmc/runanbles/TickInventories.class
target/classes/com/minecubedmc/util/BasicUtils.class
target/classes/com/minecubedmc/util/BasicUtils$PlayerInfoReport.class
target/classes/com/minecubedmc/util/BasicUtils$TickInventories.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
